.threeFooter, .footerBottom{
    display: flex;
    flex-direction: row;
    background-color: #5e6ea9;
    width: 1440px;
    padding-top: 30px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
  }
  .footerBottom{
    margin-top:0px;
    padding-bottom: 20px;
  }
  .footerTitle{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFEF3;
    margin-bottom: 20px;
  }
  
  /* our company  */
  
  .ourCompany{
    width: 299.44px;
    height: 261.73px;
    align-items: flex-start;
  }
  .ourCompany a{
    text-decoration: none;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFEF3;
    margin-bottom: 10px;
  }
  
  .footerData{
    display: flex;
    flex-direction: column;
  }
  
  
  /* contact us  */
  .contactUs{
    display: flex;
    flex-direction: column;
  }
  .contactDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .contactDetail i{
    margin-right: 20px;
  }
  
  .contactDetail .textaa{
    font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: white;
  width: 286.68px;
  }
  
  .contactUsIcon{
    font-size: 30px;
    color: #fdfadc;
  }
  
  
  /* connect us */
 
  .socialIcon{
    color: whitesmoke;
    font-size: 50px;
    margin-right: 20px;
  }

  /* foooter bottom  */
  .MMPMFooter{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }

  .Footerlaboratory{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    color: #FFFFFF;
  }

  .MMPMName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.copyRight{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
  
.thankYou{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.smile{
  font-size: 50px;
  color: white;
}

.thankYou div{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 10px;
}